*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'JetBrains Mono', sans-serif;
}

html{
    font-size: 62.5%;
}

body header{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(31, 33, 43);
    color: white;
    overflow: hidden;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color:rgb(255, 255, 255);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.dot{
    color:rgb(206, 116, 233);
    font-size: 35px;
}

.logo:hover{
    transform: scale(1.3);
}

nav a {
    font-size: 20px;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

nav a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: rgb(206, 116, 233);
    display: block;
    margin: auto;
    transition: width 0.5s;
    position: absolute;
    left: 0;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}

nav a:hover,
nav a.active {
    color: rgb(206, 116, 233);
}


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(31, 33, 43);
    
}

.home-content{
    display: flex;
    width: 100%;
    
}

.home-content div{
    flex: 1;
    padding: 20px;
}

.col1{
    margin-top: 90px;

}

.home .home-content h1{
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: rgb(206, 116, 233);
}

.home-content{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content h3{
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
    font-weight: 700;
}

.home-content p{
    font-size: 18px;
    font-weight: 500;
}

.home-img {
    margin-top: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    object-fit: cover;
    
}

.circle {
    position: absolute;
    background-color: rgb(219, 125, 248);
    border-radius: 50%;
    width: 32vw;
    height: 32vw;
}

.circle span {
    position: absolute;
    width: 30vw;
    height: 30vw;
    
    background: inherit;
    border-radius: inherit;
    animation: pulseAnimate 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}

@keyframes pulseAnimate {
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

.socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid rgb(206, 116, 233);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: rgb(206, 116, 233);
    cursor: pointer;
}

.socials a:hover{
    color: rgb(31, 33, 43);
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(206, 116, 233);
    box-shadow: 0  0 25px rgb(206, 116, 233);
}

@media (min-width: 1200px) {
    .socials a {
        width: 4rem;
        height: 4rem;
        font-size: 2.5rem;
    }
}

@media (max-width: 995px) {
    .socials a {
        width: 3rem;
        height: 3rem;
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .socials a {
        width: 2.7rem;
        height: 2.7rem;
        font-size: 1.5rem;
    }

    header{
        background-color: rgb(31, 33, 43);
        height: 60px;        
        margin-top: 0px;
    }

}

.down-btn{
    display: inline-block;
    align-items: center;
    padding: 1rem 2.8rem;
    background-color: rgb(31, 33, 43);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(206, 116, 233);
    letter-spacing: 0.3rem;
    border: 2px solid rgb(206, 116, 233);
    transition: 0.3s ease;
    cursor: pointer;
}

.down-btn:hover{
    transform: scale3d(1.03);
    background-color: rgb(206, 116, 233);
    color: rgb(31, 33, 43);
    box-shadow: 0 0 25px rgb(206, 116, 233);
}

.hire-btn{
    padding: 1rem 2.8rem;
    background-color:rgb(206, 116, 233);
    border-radius: 4rem;
    font-size: 1.5rem;
    font-weight: 900;
    color:rgb(31, 33, 43);
    letter-spacing: 0.15rem;
    transition: 0.3s ease;
    cursor: pointer;
    border: 3px solid rgb(206, 116, 233);
}

.hire-btn:hover{
    background-color: rgb(31, 33, 43);
    border: 3px solid rgb(206, 116, 233);
    color:rgb(206, 116, 233);
    font-weight: 900;
    transition: 0.5s;
}

.hire-btn-active{
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
    cursor: pointer;
    border-radius: 4rem;
    padding: 1rem 2.8rem;
    background-color: rgb(31, 33, 43);
    border: 3px solid rgb(206, 116, 233);
    color:rgb(206, 116, 233);
    font-weight: 900;
    transition: 0.5s;
    box-shadow: 0  0 25px rgb(206, 116, 233);
}

.home-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.home-text span{
    position: relative;
}

.home-text span::before{
    content: "Software Developer";
    color: rgb(206, 116, 233);
    animation: words 20s infinite;
}

.home-text span::after{
    content: "";
    width: calc(100% + 2px);
    height: 100%;
    border-left: 3px solid rgb(31, 33, 43);
    right: -80;
    animation: cursor 0.6s infinite;    
}

@keyframes cursor{
    to{
        border-left: 3px solid rgb(206, 116, 233);
    }
}

@keyframes words{
    0%, 20%{
        content: "Student";
    }
    21%, 40%{
        content: "Web Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Padel Player";
    }
    81%, 100%{
        content: "BlockChain Student";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    
    .hire-btn{
        display: none;
    }

    body, html{
        overflow-y: auto;
    }

    .col2 {
        margin-top: 2rem; 
        display: none;
        justify-content: center;
    }
    
    .home-img {
        display: none;
    }

    nav{
        display: none;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90%;
        right: 5%;
        width: 17%; 
        background-color: rgb(39, 41, 49); 
        border-radius: 8px;
        text-align: center;
        transition: 1s;
    }

    nav a:hover::after,
    nav a.active::after {
        width: 0;
    }

    .menu-toggle {
        font-size: 2.5rem;
        color: white;
        cursor: pointer;
    }

    .menu-toggle.active {
        color: rgb(206, 116, 233);
    }

    .home-content {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: flex-start; 
        width: 100%;
        padding: 20px;
        min-height: 100vh;
    }
    
    .home-content h1, .home-content h3, .home-content p {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 1000px) {
    .menu-toggle{
        display: none;
    }
    
}

@media (max-width: 600px) {
    nav.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90%;
        right: 10%;
        width: 28%; 
        background-color: rgb(39, 41, 49); 
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        animation: none;
    }
}

.lang-selector {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  display: flex;
  gap: 10px;
  font-size: 24px;
  padding: 6px 12px;
  border-radius: 12px;
}

.lang-selector img{
    width: 35px;
}

.lang-selector img.selected {
    outline: 2px solid white;
    outline-offset: 0px;
    border-radius: 6px; /* puedes poner 0 si no quieres esquinas redondeadas */
}




